# Firebase
Kiku/GoogleService-Info.plist

# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
